<!-- Filter Datatables -->
<div class="margenes">
  <h3 class=" text-center">
    Gestion Locales
    <small>
      <a
        href="https://github.com/swimlane/ngx-datatable/blob/master/src/app/basic/bootstrap.component.ts"
        target="_blank"
      >
        Source
      </a>
    </small>
  </h3>
  <!-- <fieldset class="form-group">
    <label>MOSTRAR
      <select name="users-list-select"
        class="form-control form-control-sm d-inline-block width-100 p-right-25 pl-4 mx-1"
        (click)="updateLimit($event)">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
      ENTRADAS</label>
    <label for="ngx-filter-ref" class="float-right">BUSCAR:
      <input id="ngx-filter-ref" class="form-control form-control-sm d-inline-block width-200 ml-1"
        type="text" (keyup)="filterUpdate($event)" />
    </label>
  </fieldset> -->


<!-- <ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a ngbNavLink>First</a>
    <ng-template ngbNavContent>First content</ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Second</a>
    <ng-template ngbNavContent>Second content</ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div> -->

  <div class="text-center">
    <ngx-datatable
    class="table-responsive material "
    [rows]="rows" [columnMode]="ColumnMode.force"
    [headerHeight]="50" [footerHeight]="50"
    rowHeight="auto"
    [limit]="limitRef"
    [scrollbarH]="true"
  >
  <ngx-datatable-column name="PISO" prop="piso">

  </ngx-datatable-column>

  <ngx-datatable-column name="NUMERO" prop="numero">

  </ngx-datatable-column>

  <ngx-datatable-column name="ESTADO"  prop="estado">

  </ngx-datatable-column>

  <ngx-datatable-column name="ANCHO"  prop="ancho">

  </ngx-datatable-column>
  <ngx-datatable-column name="LARGO"  prop="largo">

  </ngx-datatable-column>

  <ngx-datatable-column name="PRECIO"  prop="precio">

  </ngx-datatable-column>

  <ngx-datatable-column name="ACCIONES" >
    <ng-template class="justify-content-center"  let-row="row" ngx-datatable-cell-template>

        <i class="fas fa-eye text-danger"></i>
    </ng-template>

  </ngx-datatable-column>
  </ngx-datatable>
  </div>

  <!-- <div>
    <ngx-datatable [rows]="rows" [columns]="columns"> </ngx-datatable>
  </div> -->

</div>
<!--/ Filter Datatables -->


