<div class="container-fluid" id="layout-login">
  <div class="row  bg-white p-3  form_standar" id="login">
    <div class="col-12 col-lg-6 d-none d-lg-block" id="logo-img">
      <img src="../../../assets/img/logo-login.png" alt="">
    </div>
    <div class="col-12 col-lg-6 " id="auth-login">
      <h4 class="mb-2  card-title">Bienvenido</h4>
      <p class="mb-3">Ingresa tu usuario y contraseña</p>
      <form [formGroup]="formLogin" (ngSubmit)="onSubmit()" class=".needs-validation">
        <div class="col-sm-12">
          <input type="text"
           class="form-control form-control-md"
           id="usuario_input" formControlName="usuario"
           [ngClass]="{ 'is-invalid': usuarioValidation || form.usuario.invalid && form.usuario.dirty }"

            required
            placeholder="usuario">
        </div>

        <div class="invalid-feedback d-block" *ngIf="(usuarioValidation || form.usuario.invalid && form.usuario.dirty)">
          Este campo es requerido..
        </div>

        <div class="col-sm-12 mt-4">
          <input type="password"
           class="form-control form-control-md"
            id="password_input"
             formControlName="password"
            [ngClass]="{'is-invalid': passwordValidation || form.password.invalid && form.password.dirty}"
            required
             placeholder="contraseña">
        </div>
        <div class="invalid-feedback d-block" *ngIf=" passwordValidation || form.password.invalid && form.password.dirty">
          Este campo es requerido..
        </div>
        <!-- <div class="invalid-feedback d-block">
          El usuario o contraseña son incorrecto..
      </div> -->
        <div class=" mb-3 mt-2 restore_password text-right">
          <a [routerLink]="['/recuperarpassword']">Olvidé mi contraseña</a>
        </div>
        <div class="col-4 ">
          <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="login()">
            Entrar
          </button>
          <!-- <a class="btn btn-primary btn-lg btn-block  type"
          (click)="onSubmit()" [disabled]="prueba=true"
          >Entrar</a> -->
        </div>
      </form>
    </div>
  </div>
</div>
