.wrapper{
  width: 0;
  position: fixed;
  z-index: 1;
  height: 0px;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  /* &.wrapper-full-page{
      min-height: 100vh;
      height: auto;
  } */
}
.wrapper-open{
  position: absolute;
  height: 100vh;
  width: 250px;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  transition: 1s;
  overflow-x: hidden;

  /* &.wrapper-full-page{
      min-height: 100vh;
      height: auto;
  } */
}
.wrapper li {
  margin-top: 100px;

  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 1s;
}

