<nav class="header">

  <ul class="">
    <!-- <div class="navbar-toggle"
    data-toggle="collapse" >

  </div>-->
    <li class="d-block d-lg-none">
      <a href="javascript:;" type="button" data-bs-toggle="collapse"
       (click)="toggleSidebar()"
        [attr.aria-expanded]="!isCollapsed"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i></a>
    </li>
    <li class="d-none d-lg-block" style="font-size: x-large">
      <a  data-toggle="collapse" (click)="ToggleClass()" href="javascript:;" appToggleFullscreen><i class="{{toggleClass}} "></i></a>
    </li>
    <li style="width: 35px; height: 35px;">
      <img class="img-fluid" src="../../../assets/img/logo/pp.png" alt="" height="50px">
    </li>
    <li style="width: 35px; height: 35px;">
      <img class="img-fluid" src="../../../assets/img/social/social-media-facebook-a2a2a45d9c.svg" alt="" height="50px">
    </li>
  </ul>
</nav>
